body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    height: 100vh;
}

div {
    background: #b1060f;
    height: 250px;
    width: 60px;
    position: relative;
}

div::before {
    background: #b1060f;
    height: 250px;
    width: 60px;
    position: absolute;
    content: '';
    left: 90px;
}

div::after {
    background: #202020;
    height: 20px;
    width: 175px;
    position: absolute;
    content: '';
    left: -15px;
    bottom: -10px;
    border-radius: 50%;
}

span {
    position: absolute;
    height: 250px;
    width: 60px;
    background-color: #e50913;
    left: 46px;
    transform: skew(20deg);
    box-shadow: 0 0 10px -4px;
}